@import "tailwindcss";


@font-face {
  font-family: 'polysans';
  src: url('../../public/assets/fonts/polysans/polysanstrial-median.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'polysans';
  src: url('../../public/assets/fonts/polysans/polysansitalictrial-medianitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'futuregeisha';
  src: url('../../public/assets/fonts/FUTUREGEISHA.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

.fontfg{
  font-family: futuregeisha;
}

 
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Fp2ywxg089UriCZa4ET-DNl0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Fp2ywxg089UriCZa4Hz-D.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZ2IHSeH.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZOIHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 

:root {
  --foreground: #ffffff;
  --background: #000000;
}

a{
  cursor: pointer !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}












/* -------------------- Component Styling ------------------ */


.navBar a{
  transition: all 0.1s ease-in;

}
.navBar :hover{
  letter-spacing: 1px;
  color: orange;
}

.EventCard{
     background: linear-gradient(to right, #f5af19, #f12711);
    padding: 4px;
    border-radius: 13px;
}


 

.ButtonA{ 
  background-color: #FF5722;
  border-radius: 28px; 
  border: solid 2px transparent;
  cursor: pointer !important;
  transition: all 0.4s  cubic-bezier(0.075, 0.82, 0.165, 1) ;
  }
  
 

.ButtonA:hover{
  background-color: transparent;
  border: solid 2px #FF5722;
}


/* Font definations */

.polysans{
  font-family: "polysans", sans-serif;
}

.DMSans{
  font-family: "DM Sans", sans-serif;
}


/* Animation and Stuff */

.neon3{
  animation: neon3 ;
  animation: neon3 1.5s ease-in-out ;

    text-shadow: 0 0 5px #fff, 0 0 2px #fff, 0 0 15px #fff, 0 0 12px #ffdd1b, 0 0 1px #ffdd1b, 0 0 22px #ffdd1b, 0 0 50px #ffdd1b, 0 0 41px #FFDD0D
}

@keyframes neon3 {
  /* from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
      0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 2px #fff, 0 0 15px #fff, 0 0 12px #ffdd1b, 0 0 1px #ffdd1b, 0 0 22px #ffdd1b, 0 0 50px #ffdd1b, 0 0 41px #FFDD0D

  } */
}